SPRING_PROFILES_ACTIVE=prod

# Supabase connection
DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres.jykhntdyjvirbinznxgv
POSTGRES_PASSWORD=

# Redis (local via Docker)
REDIS_HOST=redis
REDIS_PORT=6379
