SPRING_PROFILES_ACTIVE=prod

# Supabase connection
DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres.jykhntdyjvirbinznxgv
POSTGRES_PASSWORD=

# Redis (local via Docker)
REDIS_HOST=redis
REDIS_PORT=6379

# Supabase Auth
SUPABASE_URL=https://jykhntdyjvirbinznxgv.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_JWK_SET_URI=https://jykhntdyjvirbinznxgv.supabase.co/auth/v1/.well-known/jwks.json
