# Database configuration
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=artemis_db
POSTGRES_USER=artemis_user
POSTGRES_PASSWORD=

# JWT configuration
JWT_SECRET=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
